<%= render partial: 'partials/pagination', locals: { base_path: :period_path, period_length: 2 } %>

<ul class="nav nav-tabs margin-bl">
  <li role="presentation" class="active"><%= link_to 'Budget', (params[:year] ? period_path(params[:year], params[:month]) : current_period_path) %></li>
  <li role="presentation"><%= link_to 'Operations', (params[:year] ? operations_path(params[:year], params[:month]) : current_operations_path) %></li>
</ul>

<table class="table table-bordered budget-table hide-overlapping">
  <tr class="">
    <th></th>
    <% @periods.each do |period| %>
      <th colspan="3" class="text-center budget-table-head">
        <%= period.title %>
      </th>
    <% end %>
  </tr>
  <tr>
    <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2 budget-table-head">
      Available to budget
    </th>
    <% @periods.each do |period| %>
      <td colspan="3"><%= period.available_to_budget_cell %></td>
    <% end %>
  </tr>
  <tr>
    <th class="budget-table-head clickable" data-href="<%= categories_path %>">
      Category
    </th>
    <% @periods.each do |period| %>
      <th class="budget-table-head text-right">Budgeted</th>
      <th class="budget-table-head text-right">Outflows</th>
      <th class="budget-table-head text-right">Balance</th>
    <% end %>
  </tr>
  <% @categories.each_with_index do |category, category_index| %>
    <tr class="budget-table-category">
      <th class="budget-table-head clickable" data-href="<%= edit_category_path(category.id) %>">
        <%= category.title %>
      </th>
      <% @periods.map { |p| p.budget_for(category) }.each_with_index do |budget, period_index| %>
        <td><%= budget.amount_cell(tabindex: period_index * @categories.count + category_index + 1) %></td>
        <td><%= budget.spent_cell %></td>
        <td><%= budget.balance_cell %></td>
      <% end %>
    </tr>
  <% end %>
  <tr>
    <th class="budget-table-head">Totals</th>
    <% @periods.each_with_index do |period, period_index| %>
      <td class="total-value"><%= period.total_budgeted_cell %></td>
      <td class="total-value"><%= period.total_expense_cell %></td>
      <td class="total-value"><%= period.total_balance_cell %></td>
    <% end %>
  </tr>
</table>

<script>
  $(function() {
    "use strict";

    $(".budget-amount").unbind();

    // TODO: Refactor
    $(".budget-amount").focus(function() {
      var cell = $(this);
      cell.data("handle-change", "false");
      cell.val(cell.data("value")).select();
      cell.data("handle-change", "true");
    }).blur(function() {
      var cell = $(this);
      if (cell.data("handle-blur") == "false") { return; }
      cell.data("handle-change", "false");
      cell.data('value', cell.autoNumeric('get'))
      cell.autoNumeric('set', cell.autoNumeric('get'));
      cell.data("handle-change", "true");
    });

    $("input.highlight").each(function(_, element) {
      $(element).removeClass("highlight-positive").removeClass("highlight-negative");
      var value = $(element).autoNumeric("get");
      if (value > 0) $(element).addClass("highlight-positive");
      if (value < 0) $(element).addClass("highlight-negative");
    });

    $(".budget-amount").change(function() {
      var cell = $(this);
      if (!cell.data("handle-change")) { return; }
      cell.data("handle-blur", "false");

      var catId = cell.data("cat-id");
      var url = Routes.budget_path(cell.data("year"), cell.data("month"),
          cell.data("cat-id"), { amount: cell.val(), format: "json" });

      $.ajax({
        url: url,
        type: "PATCH",
        dataType: "json",
        success: function(data) {
          $.each(data, function(selector, value) {
            var element = $("#" + selector);
            element.data("value", value).autoNumeric('set', value);
            if (element.hasClass("highlight")) {
              element.removeClass("highlight-positive").removeClass("highlight-negative");
              if (value > 0) element.addClass("highlight-positive");
              if (value < 0) element.addClass("highlight-negative");
            }
          });
        }
      });

      $(this).data("handle-blur", "true");
    });

    $(".clickable").click(function() {
      Turbolinks.visit($(this).data("href"));
    });

    $(".budget-amount").blur();
  })
</script>

