<h2><%= @periods.map { |p| p.start_at.strftime('%B') }.join(' / ') %> <%= @date.year %></h2>

<hr>

<div class="row">
  <div class="col-lg-1 col-md-1 hidden-sm hidden-xs">
    <div class="btn-group">
      <%= @periods.first.link_to_prev_year %>
    </div>
  </div>
  <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 btn-toolbar budget-pagination">
    <div class="btn-group">
      <%= @periods.first.link_to_prev_month %>
      <%= (1..12).map { |month| period_nav_link(@date.year, month, @date.month) }.join.html_safe %>
      <%= @periods.first.link_to_next_month %>
    </div>
  </div>
  <div class="col-lg-1 col-md-1 hidden-sm hidden-xs text-right">
    <div class="btn-group">
      <%= @periods.first.link_to_next_year %>
    </div>
  </div>
</div>

<script>
  $(function() {
    "use strict";

  });
</script>
