<h2><%= @periods.map { |p| p.start_at.strftime('%B') }.join(' / ') %> <%= @date.year %></h2>

<hr>

<div class="row">
  <div class="col-lg-1 col-md-1 hidden-sm hidden-xs">
    <div class="btn-group">
      <%= @periods.first.link_to_prev_year %>
    </div>
  </div>
  <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 btn-toolbar budget-pagination">
    <div class="btn-group">
      <%= @periods.first.link_to_prev_month %>
      <%= (1..12).map { |month| period_nav_link(@date.year, month, @date.month) }.join.html_safe %>
      <%= @periods.first.link_to_next_month %>
    </div>
  </div>
  <div class="col-lg-1 col-md-1 hidden-sm hidden-xs text-right">
    <div class="btn-group">
      <%= @periods.first.link_to_next_year %>
    </div>
  </div>
</div>

<hr>

<form class="form budget-form">
  <!-- Header -->
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 budget-form-category">
      <div class="form-group">
        <p class="form-control-static"><%= link_to 'Category', categories_path %></p>
      </div>
    </div>
    <% @periods.count.times do %>
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
        <div class="col-lg-4 col-md-4 com-sm-4 col-xs-4 budget-form-category"><p class="form-control-static text-right">Budgeted</p></div>
        <div class="col-lg-4 col-md-4 com-sm-4 col-xs-4 budget-form-category"><p class="form-control-static text-right">Outflows</p></div>
        <div class="col-lg-4 col-md-4 com-sm-4 col-xs-4 budget-form-category"><p class="form-control-static text-right">Balance</p></div>
      </div>
    <% end %>
  </div>

  <!-- Body -->
  <% @categories.each_with_index do |category, category_index| %>
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <div class="form-group">
          <p class="form-control-static budget-form-category"><%= link_to category.title, edit_category_path(category) %></p>
        </div>
      </div>
      <% @periods.each_with_index do |period, period_index| %>
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
        <div class="col-lg-4 col-md-4 com-sm-4 col-xs-4">
          <input value="<%= period.budget_for(category).planned %>" type="text" class="form-control text-right budget-cell select-on-focus" data-col-num="<%= period_index %>" data-row-num="<%= category_index %>" data-path="<%= budget_path(period.year, period.month, category.id, format: :json) %>">
        </div>
        <div class="col-lg-4 col-md-4 com-sm-4 col-xs-4">
          <input value="-" type="text" class="form-control text-right actual-cell" readonly>
        </div>
        <div class="col-lg-4 col-md-4 com-sm-4 col-xs-4">
          <input value="-" type="text" class="form-control text-right balance-cell" readonly>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>
</form>


<script>
  $(function() {
    "use strict";

    var catsCount = parseInt("<%= @categories.count %>");

    $(".budget-cell").each(function(index) {
      var colNum = parseInt($(this).data("col-num"));
      var rowNum = parseInt($(this).data("row-num"));
      $(this).attr("tabindex", colNum * catsCount + rowNum + 1);
    }).blur();
  });
</script>
