<div class="row budget-pagination">
  <div class="col-lg-1 col-md-1 hidden-sm hidden-xs">
    <div class="btn-group">
      <%= @periods.first.link_to_prev_year %>
    </div>
  </div>
  <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 btn-toolbar budget-pagination">
    <div class="btn-group">
      <%= @periods.first.link_to_prev_month %>
      <%= period_pagination(@date) %>
      <%= @periods.first.link_to_next_month %>
    </div>
  </div>
  <div class="col-lg-1 col-md-1 hidden-sm hidden-xs text-right">
    <div class="btn-group">
      <%= @periods.first.link_to_next_year %>
    </div>
  </div>
</div>

<table class="table table-bordered budget-table">
  <tr>
    <th></th>
    <% @periods.each do |period| %>
      <th colspan="3" class="text-center budget-table-heading">
        <%= period.title %>
      </th>
    <% end %>
  </tr>
  <tr>
    <th></th>
    <% @periods.each do |period| %>
      <td colspan="3" class="text-center available-to-budget-cell">
        <%= period.available_to_budget %>
      </td>
    <% end %>
  </tr>
  <tr>
    <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2 budget-table-heading">
      <%= link_to 'Category', categories_path %>
    </th>
    <% @periods.each do |period| %>
      <th class="budget-table-heading text-right">Budgeted</th>
      <th class="budget-table-heading text-right">Outflows</th>
      <th class="budget-table-heading text-right">Balance</th>
    <% end %>
  </tr>
  <% @categories.each_with_index do |category, category_index| %>
    <tr class="budget-category">
      <th>
        <%= link_to category.title, edit_category_path(category) %>
      </th>
      <% @periods.each_with_index do |period, period_index| %>
        <td class="input-cell">
          <input value="<%= period.budget_for(category).display_amount %>" tabindex="<%= period_index * @categories.count + category_index + 1 %>" type="text" class="form-control text-right budget-cell select-on-focus" data-year="<%= period.year %>" data-month="<%= period.month %>" data-cat-id="<%= category.id %>" data-spent=".<%= cell_id('spent', period, category) %>" data-balance=".<%= cell_id('balance', period, category) %>" data-plain-amount="<%= period.budget_for(category).amount.to_i %>" data-formatted-amount="<%= period.budget_for(category).display_amount %>">
        </td>
        <td class="input-cell">
          <%= period.budget_for(category).spent_cell %>
        </td>
        <td class="input-cell">
          <%= period.budget_for(category).balance_cell %>
        </td>
      <% end %>
    </tr>
  <% end %>

  <tr class="budget-category">
    <th>
      Totals
    </th>
    <% @periods.each_with_index do |period, period_index| %>
      <td class="input-cell total-value">
        <%= period.total_budgeted %>
      </td>
      <td class="input-cell total-value">
        <%= period.total_expense %>
      </td>
      <td class="input-cell total-value">
        <%= period.total_balance %>
      </td>
    <% end %>
  </tr>
</table>

<script>
  $(function() {
    "use strict";

    $(".budget-cell").unbind();

    $(".budget-cell").focus(function() {
      var cell = $(this);
      cell.data("handle-change", "false");
      cell.val(cell.data("plain-amount"));
      cell.data("handle-change", "true");
    }).blur(function() {
      var cell = $(this);
      if (cell.data("handle-blur") == "false") { return; }
      cell.data("handle-change", "false");
      cell.val(cell.data("formatted-amount"));
      cell.data("handle-change", "true");
    });

    $(".budget-cell").change(function() {
      var cell = $(this);
      if (!cell.data("handle-change")) { return; }
      cell.data("handle-blur", "false");

      var catId = cell.data("cat-id");
      var url = Routes.budget_path(cell.data("year"), cell.data("month"),
          cell.data("cat-id"), { amount: cell.val(), format: "json" });

      $.ajax({
        url: url,
        type: "PATCH",
        dataType: "json",
        success: function(data) {
          var budget = data["budget"];
          cell.val(budget["amount"]);
          $(cell.data("actual")).val(budget["actual"]);
          $(cell.data("balance")).val(budget["balance"]);
        }
      });

      Turbolinks.visit(location.href);

      $(this).data("handle-blur", "true");
    });

    $(".budget-cell").blur();
  })
</script>
