<nav class="navbar navbar-default navbar-strict-tob">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Boodka', root_path, class: 'navbar-brand' %>
    </div>

    <div class="collapse navbar-collapse">
      <%= navbar do %>
        <%= navbar_item caption: 'Accounts', path: accounts_path %>
        <%= navbar_item caption: 'Categories', path: categories_path %>
        <%= navbar_item caption: 'Budget', path: current_budget_path %>
      <% end %>

      <%= navbar side: :right do %>
        <%= navbar_item caption: 'New transaction', path: new_transaction_path %>
        <%= navbar_item caption: 'Transfer', path: new_transfer_path %>
        <%= navbar_item caption: 'Reconcile', path: new_reconciliation_path %>
      <% end %>
    </div>
  </div>
</nav>
