<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#the-navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Boodka', root_path, class: 'navbar-brand' %>
      <ul class="nav navbar-nav navbar-right navbar-menu">
        <%= render partial: 'partials/navbar_item', locals: { path: accounts_path, action: 'accounts/index', title: 'Accounts' }  %>
        <%= render partial: 'partials/navbar_item', locals: { path: reconciliations_path, action: 'reconciliations/index', title: 'Reconciliations' }  %>
        <%= render partial: 'partials/navbar_item', locals: { path: transactions_path, action: 'transactions/index', title: 'Transactions' }  %>
        <%= render partial: 'partials/navbar_item', locals: { path: categories_path, action: 'categories/index', title: 'Categories' }  %>
        <%= render partial: 'partials/navbar_item', locals: { path: transfers_path, action: 'transfers/index', title: 'Transfers' }  %>
      </ul>
    </div>
  </div>
</nav>
