<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#the-navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Boodka', root_path, class: 'navbar-brand' %>
      <ul class="nav navbar-nav navbar-right navbar-menu">
        <li class="<%= 'active' if current_action == 'accounts/index' %>"><%= link_to 'Accounts', accounts_path %></li>
        <li class="<%= 'active' if current_action == 'categories/index' %>"><%= link_to 'Categories', categories_path %></li>

        <% if Category.any? && Account.any? %>
          <li class="<%= 'active' if current_action == 'budget/show' %>"><%= link_to 'Budget', current_budget_path %></li>
        <% else %>
          <li class="disabled"><%= link_to 'Budget', '#' %></li>
        <% end %>

        <% if Account.count == 0 %>
          <li class="disabled"><%= link_to 'Transactions', '#' %></li>
          <li class="disabled"><%= link_to 'Reconciliations', '#' %></li>
          <li class="disabled"><%= link_to 'Transfers', '#' %></li>
        <% elsif Account.count == 1 %>
          <li class="<%= 'active' if current_action == 'transactions/index' %>"><%= link_to 'Transactions', transactions_path %></li>
          <li class="disabled"><%= link_to 'Transfers', '#' %></li>
          <li class="<%= 'active' if current_action == 'reconciliations/index' %>"><%= link_to 'Reconciliations', reconciliations_path %></li>
        <% elsif Account.count > 1 %>
          <li class="<%= 'active' if current_action == 'transactions/index' %>"><%= link_to 'Transactions', transactions_path %></li>
          <li class="<%= 'active' if current_action == 'transfers/index' %>"><%= link_to 'Transfers', transfers_path %></li>
          <li class="<%= 'active' if current_action == 'reconciliations/index' %>"><%= link_to 'Reconciliations', reconciliations_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
