<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#the-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Boodka', root_path, class: 'navbar-brand' %>
    </div>

    <div class="collapse navbar-collapse" id="the-navbar">
      <%= navbar do %>
        <%= navbar_item caption: 'Accounts', path: accounts_path %>
        <%= navbar_item caption: 'Categories', path: categories_path %>
        <%= navbar_item caption: 'Budgeting', path: current_period_path, active: -> { ['periods'].include? controller.controller_name } %>
        <%= navbar_item caption: 'Operations', path: current_operations_path %>
      <% end %>

      <%= navbar side: :right do %>
        <%= navbar_item caption: 'New transaction', path: new_transaction_path(format: :js), enabled: Account.count > 0, remote: true %>
        <%= navbar_item caption: 'Transfer', path: new_transfer_path(format: :js), enabled: Account.count > 1, remote: true %>
        <%= navbar_item caption: 'Reconcile', path: new_reconciliation_path(format: :js), enabled: Account.count > 0, remote: true %>
      <% end %>
    </div>
  </div>
</nav>
