<%= form_for reconciliation, url: submit_url, method: method, remote: remote, html: { class: 'form reconciliation-form' } do |form| %>
  <% if edit %>
    <div class="form-group">
      <label class="control-label" for="reconciliation_account_id">Account</label>
      <p class="form-control-static"><%= reconciliation.account.title %></p>
    </div>
    <div class="form-group">
      <label class="control-label" for="reconciliation_account_id">Currency</label>
      <p class="form-control-static"><%= reconciliation.currency %></p>
    </div>
  <% else %>
    <div class="form-group">
      <%= form.label :account_id, class: 'control-label' %>
      <%= form.select :account_id, options_for_select(@accounts.map { |account| [account.display_title_with_currency, account.id] }, reconciliation.account_id), {}, data: { width: '100%' }, class: 'account-select' %>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :amount %>
    <%= form.text_field :amount, placeholder: 'Amount', class: 'form-control select-on-focus', autofocus: true %>
  </div>

  <div class="form-group">
    <%= form.label :created_at %>
    <%= form.text_field :created_at, value: reconciliation.created_at.try(:strftime, Const::DATEPICKER_FORMAT_PARSE), class: 'form-control created-at-datepicker', placeholder: 'Default is current date' %>
  </div>

  <div class="form-group">
    <%= form.submit submit_caption, class: 'btn btn-default', data: { disable_with: "Processing..." } %>
    <% if cancel %>
      <%= link_to 'Cancel', :back, class: 'btn btn-default' %>
    <% end %>
  </div>
<% end %>

<script>
  $(function() {
    "use strict";

    $(".reconciliation-form .account-select").select2({
      theme: "bootstrap",
      allowClear: false,
      minimumResultsForSearch: Infinity
    });

    $(".created-at-datepicker").datetimepicker({
      format: "<%= Const::DATEPICKER_FORMAT_MOMENTJS %>"
    });
  });
</script>
