<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= form_caption %></h3>
  </div>
  <div class="panel-body">
    <%= form_for reconciliation, url: submit_url, method: method, remote: remote, html: { class: 'form reconciliation-form' }, builder: SmartBuilder do |form| %>
      <% if edit %>
        <%= form.static :account, reconciliation.account.decorate.display_title_with_currency %>
      <% else %>
        <%= form.account_select :account_id %>
      <% end %>

      <%= form.text :amount, placeholder: 'Amount', class: 'select-on-focus', autofocus: true %>
      <%= form.datetime :created_at, placeholder: 'Default is now' %>
      <%= form.submit_group caption: submit_caption, cancel: local_assigns[:cancel] || true %>
    <% end %>
  </div>
</div>

<script>
  $(function() {
    "use strict";

    $(".reconciliation-form .select-account-id").select2({
      theme: "bootstrap",
      allowClear: false,
      minimumResultsForSearch: Infinity
    });

    $(".date-time-picker").datetimepicker({
      format: "<%= Const::DATEPICKER_FORMAT_MOMENTJS %>"
    });
  });
</script>
