<h2>New account reconciliation</h2>

<%= render partial: 'form', locals: {
  reconciliation: @reconciliation,
  submit_url: reconciliations_path,
  method: :post,
  remote: false,
  submit_caption: 'Reconcile',
  edit: false,
  cancel: false
} %>

<hr>

<h2>Recent reconciliations</h2>

<% if Reconciliation.recent_history.empty? %>
  <p>There are no reconciliations yet.</p>
<% else %>
  <table class="table table-bordered table-hover">
    <% Reconciliation.recent_history.each do |rec| %>
      <tr>
        <td class="col-lg-2 text-muted">
          <%= rec.created_at %>
        </td>
        <td class="col-lg-10">
          <%= rec.account.title %> ← <b><%= rec.amount %></b> <%= rec.account.currency %>
          <div class="table-row-actions">
            <%= link_to 'Edit', edit_reconciliation_path(rec), class: 'btn btn-xs btn-default' %>
            <%= link_to 'Destroy', rec, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-default' %>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
