<h2>Account reconciliation</h2>

<%= render partial: 'form', locals: {
  reconciliation: @reconciliation,
  submit_url: reconciliations_path,
  method: :post,
  remote: false,
  submit_caption: 'Reconcile',
  edit: false,
  cancel: false
} %>

<% if Reconciliation.any? %>
  <h2>Recent reconciliations</h2>

  <table class="table table-bordered table-hover no-grid">
    <% @reconciliations.each do |rec| %>
      <tr>
        <td class="col-lg-2 text-muted">
          <%= relative_time(rec.created_at) %>
        </td>
        <td class="col-lg-2">
          <%= rec.account.title %>
        </td>
        <td class="col-lg-2 text-right">
          <%= link_to rec.display_amount, edit_reconciliation_path(rec) %>
        </td>
        <td class="col-lg-1">
          <%= rec.account_currency_label %>
        </td>
        <td class="col-lg-7">
          <div class="table-row-actions">
            <%= link_to 'Destroy', rec, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-default' %>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <hr>
  <div class="emptyness">
    There are no reconciliations yet.
  </div>
<% end %>
