<h2>New account reconciliation</h2>

<%= render partial: 'form', locals: {
  reconciliation: @reconciliation,
  submit_url: reconciliations_path,
  method: :post,
  remote: false,
  submit_caption: 'Reconcile',
  edit: false,
  cancel: false
} %>

<hr>

<h2>Recent reconciliations</h2>

<% if Reconciliation.recent_history.empty? %>
  <p>There are no reconciliations yet.</p>
<% else %>
  <table class="table table-stripes table-bordered">
    <% Reconciliation.recent_history.each do |rec| %>
      <tr>
        <td class="col-lg-2 text-muted"><%= rec.created_at %></td>
        <td class="col-lg-5 text-right">
          <%= rec.account.title %>
        </td>
        <td class="col-lg-5 text-right">
          <%= link_to edit_reconciliation_path(rec.id) do %>
            <b><%= rec.amount %></b> <%= rec.account.currency %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
