<%= form_for @form, url: transfers_path, method: :post, html: { class: 'form transfer-form' }, builder: SmartBuilder do |form| %>

  <div class="row">
    <div class="col-lg-6">
      <%= form.select :from_account_id, options: options_for_select(@accounts.map { |a| [a.display_title_with_currency, a.id, { 'data-currency' => a.currency }] }) %>
    </div>
    <div class="col-lg-6">
      <%= form.select :to_account_id, options: options_for_select(@accounts.map { |a| [a.display_title_with_currency, a.id, { 'data-currency' => a.currency }] }) %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <%= form.text :amount, placeholder: 'Amount', class: 'select-on-focus', autofocus: true %>
    </div>
    <div class="col-lg-6">
      <%= form.select :currency, options: options_for_select(Const::CURRENCY_CODES) %>
    </div>
  </div>

  <%= form.datetime :created_at, placeholder: 'Default is now' %>

  <%= form.area :memo, placeholder: 'Optional notes' %>

  <%= form.submit_group caption: 'Create', cancel: cancel %>
<% end %>

<script>
  $(function() {
    "use strict";

    $(".select").select2({
      theme: "bootstrap",
      allowClear: false,
      minimumResultsForSearch: Infinity
    });

    $(".select-from-account-id").change(function() {
      var currency = $(this).find("option:selected").data("currency");
      $(".select-currency").val(currency).trigger("change");
    });

    $(".select-currency").select2({
      theme: "bootstrap",
      allowClear: false
    });

    $(".currency-switch").click(function() {
      $(".select-currency").val($(this).data("value")).trigger("change")
    });

    $(".date-time-picker").datetimepicker({
      format: "<%= Const::DATEPICKER_FORMAT_MOMENTJS %>"
    });
  });
</script>
