<%= form_for @form, url: transfers_path, method: :post, html: { class: 'form transfer-form' } do |form| %>
  <div class="form-group">
    <%= form.label :from_account_id, class: 'control-label' %>
    <%= form.select :from_account_id, options_for_select(Account.all.map { |account| [account.title, account.id] }), {}, data: { width: '100%' }, class: 'account-select' %>
  </div>

  <div class="form-group">
    <%= form.label :to_account_id, class: 'control-label' %>
    <%= form.select :to_account_id, options_for_select(Account.all.map { |account| [account.title, account.id] }), {}, data: { width: '100%' }, class: 'account-select' %>
  </div>

  <div class="form-group">
    <%= form.label :amount %>
    <%= form.text_field :amount, placeholder: 'Amount', class: 'form-control', autofocus: true %>
  </div>

  <div class="form-group">
    <%= form.label :amount_currency %>
    <%= form.select :amount_currency, options_for_select(Const::CURRENCY_CODES), {}, data: { width: '100%' }, class: 'currency-select' %>
  </div>

  <div class="form-group">
    <div class="btn-group btn-group-sm" role="group">
      <a href="#" class="btn btn-sm btn-default currency-switch" data-value="USD">USD</a>
      <a href="#" class="btn btn-sm btn-default currency-switch" data-value="GBP">GBP</a>
      <a href="#" class="btn btn-sm btn-default currency-switch" data-value="EUR">EUR</a>
      <a href="#" class="btn btn-sm btn-default currency-switch" data-value="RUB">RUB</a>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control', placeholder: 'Optional description' %>
  </div>

  <div class="form-group">
    <%= form.submit 'Create', class: 'btn btn-default', data: { disable_with: "Processing..." } %>
  </div>
<% end %>

<script>
  $(function() {
    "use strict";

    $(".transfer-form .account-select").select2({
      theme: "bootstrap",
      allowClear: false,
      minimumResultsForSearch: Infinity
    });

    $(".transfer-form .currency-select").select2({
      theme: "bootstrap",
      allowClear: false
    });

    $(".currency-switch").click(function() {
      $(".currency-select").val($(this).data("value")).trigger("change")
    });
  });
</script>
