<h2>New category</h2>

<%= render partial: 'form', locals: { submit_caption: 'Add', cancel: false } %>

<hr>

<h2>Categories</h2>

<% if @categories.empty? %>
  <p>There are no categories yet.</p>
<% else %>
  <table class="table table-stripes table-bordered">
    <% @categories.each do |category| %>
      <tr>
        <td class="col-lg-1 text-muted"><%= category.code %></td>
        <td class="col-lg-9">
          <%= link_to category.title, edit_category_path(category) %>
          <span class="text-muted"><%= category.description %></span>
        </td>
        <td class="col-lg-2 text-right">
          <%= link_to 'Edit', edit_category_path(category), class: 'btn btn-xs btn-default' %>
          <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-default' %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
