<% if Category.any? %>
  <h2>You have <%= pluralize Category.count, 'budgeting category' %></h2>

  <table class="table table-bordered table-hover">
    <% Category.all.each do |category| %>
      <tr>
        <td class="col-lg-2 text-muted"><%= category.code %></td>
        <td class="col-lg-10">
          <%= link_to category.title, edit_category_path(category) %>
          <span class="text-muted"><%= category.memo %></span>
          <div class="table-row-actions">
            <%= link_to 'Edit', edit_category_path(category), class: 'btn btn-xs btn-default' %>
            <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-default' %>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <div class="emptyness">
    There are no existing categories yet.
  </div>
<% end %>

<h2>New category</h2>

<%= render partial: 'form', locals: { submit_caption: 'Add new category', cancel: false } %>
