<% if Category.any? %>
  <div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Budgeting categories</div>
    <table class="table table-hover clickable-rows">
      <% @categories.each do |category| %>
        <tr data-href="<%= edit_category_path(category, format: :js) %>">
          <td class="col-lg-10">
            <%= category.title %>
            <span class="text-muted"><%= category.memo %></span>
            <div class="table-row-actions">
              <%= link_to '<i class="fa fa-times"></i>'.html_safe, category_path(category, format: :js), method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: 'action-icon' %>
            </div>
          </td>
        </tr>
      <% end %>
    </table>
    <div class="panel-footer text-muted">You have <%= pluralize Category.count, 'budgeting category' %></div>
  </div>
<% else %>
  <div class="emptyness">
    There are no existing categories yet.
  </div>
<% end %>

<%= link_to 'Create new category', new_category_path(format: :js), class: 'btn btn-default', remote: true %>
