<div class="panel panel-default">
  <div class="panel-heading">
    <a href="#" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></a>
    <h3 class="panel-title"><%= form_caption %></h3>
  </div>
  <div class="panel-body">
    <%= form_for transaction, url: submit_url, method: method, remote: true, html: { class: 'form transaction-form' }, builder: SmartBuilder do |form| %>

      <div class="row">
        <div class="col-lg-7 col-md-12">
          <%= form.amount_input %>
          <%= form.select :category_id, options: options_for_select(Category.ordered.map { |c| [c.title, c.id] }, transaction.category_id) %>
        </div>
        <div class="col-lg-5 col-md-12">
          <%= form.account_select :account_id %>
          <%= form.currency_select :amount_currency %>
        </div>
      </div>

      <%= form.datetime :created_at, placeholder: 'Default is now' %>
      <%= form.area :memo, placeholder: 'Optional notes' %>
      <%= form.popup_submit_group caption: submit_caption %>
    <% end %>
  </div>
</div>

<script>
  $(function() {
    "use strict";

    $(".select-account-id").select2({
      theme: "bootstrap",
      allowClear: false,
      minimumResultsForSearch: Infinity
    }).change(function() {
      var currency = $(".select-account-id option:selected").data("currency");
      $(".select-amount-currency").val(currency).trigger("change");
    });

    $(".select-amount-currency, .select-category-id").select2({
      theme: "bootstrap",
      allowClear: false
    });

    $(".date-time-picker").datetimepicker({
      format: "<%= Const::DATEPICKER_FORMAT_MOMENTJS %>"
    });

    // Enable Category select only for expenses

    var onDirectionChange = function(value) {
      $(".select-category-id").attr("disabled", value == "inflow");
      $(".input-amount").data("direction", value);

      if (value == "inflow") {
        $(".input-amount").removeClass("direction-outflow").addClass("direction-inflow");
      } else {
        $(".input-amount").removeClass("direction-inflow").addClass("direction-outflow");
      }
    };

    $(".radio-direction").change(function(event) {
      onDirectionChange($(event.target).val())
    });

    onDirectionChange($(".radio-direction:checked").val());
  });
</script>

