<%= form_for transaction, url: submit_url, method: method, remote: remote, html: { class: 'form transaction-form' }, builder: SmartBuilder do |form| %>
  <%= form.select :account_id, options: options_for_select(Account.decorate.map { |a| [a.display_title_with_currency, a.id, { 'data-currency' => a.currency }] }, transaction.account_id) %>

  <%= form.text :amount, placeholder: 'Amount', class: 'select-on-focus', autofocus: true %>

  <%= form.select :amount_currency, options: options_for_select(Const::CURRENCY_CODES, transaction.amount_currency) %>

  <div class="form-group">
    <div class="btn-group btn-group-sm" role="group">
      <a href="#" class="btn btn-sm btn-default radio-currency" data-value="USD">USD</a>
      <a href="#" class="btn btn-sm btn-default radio-currency" data-value="GBP">GBP</a>
      <a href="#" class="btn btn-sm btn-default radio-currency" data-value="EUR">EUR</a>
      <a href="#" class="btn btn-sm btn-default radio-currency" data-value="RUB">RUB</a>
    </div>
  </div>

  <%= form.radio_buttons :direction, options: { 'inflow' => 'Income', 'outflow' => 'Expense' } %>

  <%= form.select :category_id, options: options_for_select(Category.ordered.map { |c| [c.title, c.id] }, transaction.category_id) %>

  <%= form.datetime :created_at, placeholder: 'Default is now' %>

  <%= form.area :memo, placeholder: 'Optional notes' %>

  <%= form.submit_group caption: 'Create', cancel: cancel %>
<% end %>

<script>
  $(function() {
    "use strict";

    $(".select-account-id").select2({
      theme: "bootstrap",
      allowClear: false,
      minimumResultsForSearch: Infinity
    }).change(function() {
      var currency = $(".select-account-id option:selected").data("currency");
      $(".select-amount-currency").val(currency).trigger("change");
    });

    $(".select-amount-currency, .select-category-id").select2({
      theme: "bootstrap",
      allowClear: false
    });

    $(".radio-currency").click(function() {
      $(".select-amount-currency").val($(this).data("value")).trigger("change");
    });

    $(".date-time-picker").datetimepicker({
      format: "<%= Const::DATEPICKER_FORMAT_MOMENTJS %>"
    });

    // Enable Category select only for expenses

    var toggleCatCombo = function(value) {
      $(".select-category-id").attr("disabled", value == "inflow");
    };

    $(".radio-direction").change(function(event) {
      toggleCatCombo($(event.target).val())
    });

    toggleCatCombo($(".radio-direction:checked").val());
  });
</script>
