<% if Account.any? %>
  <%= render partial: 'form', locals: {
    transaction: @transaction,
    submit_url: transactions_path,
    method: :post,
    remote: false,
    form_caption: 'New transaction',
    submit_caption: 'Add new transaction',
    cancel: false
  } %>

  <% if @transactions.any? %>
    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">Recent transactions</h3></div>
      <table class="table table-hover">
        <% @transactions.each do |transaction| %>
          <tr>
            <td class="col-lg-2 text-muted">
              <%= relative_time transaction.created_at %>
            </td>
            <td class="col-lg-2 text-right">
              <%= link_to transaction.display_amount, edit_transaction_path(transaction), class: "transaction-#{transaction.direction}" %>
            </td>
            <td class="col-lg-1">
              <%= transaction.amount_currency_label %>
            </td>
            <td class="col-lg-2">
              <%= transaction.display_category %>
            </td>
            <td class="col-lg-6 text-muted">
              <%= transaction.memo %>
              <div class="table-row-actions">
                <% unless transaction.transfer? %>
                  <%= link_to '<i class="fa fa-times"></i>'.html_safe, transaction, method: :delete, data: { confirm: 'Are you sure?' }, class: 'action-icon' %>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
<% else %>
  <div class="emptyness">
    At least one accounts is required to add a transaction. <%= link_to 'Add account', new_account_path %>
  </div>
<% end %>
