<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <% if content_for? :title %>
    <title><%= yield(:title) %></title>
  <% else %>
    <title>Boodka</title>
  <% end %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= "#{controller_name}-#{action_name}-body" %>">
  <div class="wrapper wrapper--admin">
    <%= render partial: 'partials/navbar_menu' %>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <%= render partial: 'partials/flash' unless flash.empty? %>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
