<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% if content_for? :title %>
    <title><%= yield(:title) %></title>
  <% else %>
    <title><%= Const::APP_NAME %></title>
  <% end %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: 'partials/navbar_menu' %>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <%= render partial: 'partials/flash' unless flash.empty? %>
        <%= yield %>
        <div class="modal fade" id="the-modal" role="dialog" tabindex="-1">
          <div class="modal-dialog" role="document"></div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container text-muted">
      <b><%= Const::APP_NAME %></b> is an open source project licensed under the terms of MIT  license.<br>
      Send your feedback to <a href="http://twitter.com/dreikanter">@dreikanter</a> or project issues <a href="https://github.com/dreikanter/boodka">on GitHub</a>.
    </div>
  </footer>
</body>
</html>
