<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= form_caption %></h3>
  </div>
  <div class="panel-body">
    <%= form_for account_form, url: submit_url, method: method, html: { class: 'form account-form' }, builder: SmartBuilder do |form| %>
      <%= form.text :title, placeholder: 'Account title', class: 'select-on-focus', autofocus: true %>

      <% if account_form.persisted? %>
        <%= form.static :currency %>
      <% else %>
        <%= form.currency_select :currency %>
        <%= form.text :amount, placeholder: 'Amount' %>
        <%= form.datetime :reconciled_at, placeholder: 'Default is now' %>
      <% end %>

      <%= form.area :memo, placeholder: 'Optional notes' %>

      <%= form.check :default, 'Set default' %>

      <div class="form-group">
        <div class="row">
          <div class="col-lg-6">
            <%= form.submit_button caption: submit_caption, cancel: cancel %>
          </div>
          <% if account_form.persisted? %>
            <div class="col-lg-6 text-right">
              <%= button_to 'Transfer', new_transfer_path(from_account_id: params[:id]), enabled: Account.count > 1 %>
              <%= button_to 'Reconcile', new_reconciliation_path(account_id: params[:id]), enabled: Account.count > 0 %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  $(function() {
    "use strict";

    $(".account-form .select-currency").select2({
      theme: "bootstrap",
      allowClear: false
    });


    $(".currency-switch").click(function() {
      $(".select-currency").val($(this).data("value")).trigger("change")
    });

    $(".date-time-picker").datetimepicker({
      format: "<%= Const::DATEPICKER_FORMAT_MOMENTJS %>"
    });
  });
</script>
