<%= form_for account_form, url: submit_url, method: method, html: { class: 'form account-form' } do |form| %>
  <div class="form-group">
    <%= form.label :title, class: 'control-label' %>
    <%= form.text_field :title, placeholder: 'Account title', class: 'form-control select-on-focus', autofocus: true %>
  </div>

  <% if account_form.persisted? %>
    <div class="form-group">
      <label class="control-label" for="account_currency">Currency</label>
      <p class="form-control-static"><%= account_form.currency %></p>
    </div>
  <% else %>
    <div class="form-group">
      <%= form.label :currency %>
      <%= form.select :currency, options_for_select(Const::CURRENCY_CODES, account_form.currency), {}, data: { width: '100%' }, class: 'currency-select' %>
    </div>

    <div class="form-group">
      <div class="btn-group btn-group-sm" role="group">
        <a href="#" class="btn btn-sm btn-default currency-switch" data-value="USD">USD</a>
        <a href="#" class="btn btn-sm btn-default currency-switch" data-value="GBP">GBP</a>
        <a href="#" class="btn btn-sm btn-default currency-switch" data-value="EUR">EUR</a>
        <a href="#" class="btn btn-sm btn-default currency-switch" data-value="RUB">RUB</a>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :amount %>
      <%= form.text_field :amount, placeholder: 'Amount', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :reconciled_at %>
      <%= form.text_field :reconciled_at, value: account_form.reconciled_at.try(:strftime, Const::DATEPICKER_FORMAT_PARSE), class: 'form-control created-at-datepicker' %>
    </div>
</div>

    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :memo, class: 'control-label' %>
    <%= form.text_area :memo, class: 'form-control', placeholder: 'Optional notes' %>
  </div>

  <div class="checkbox">
    <label>
      <%= form.check_box(:default, {}, 'true', 'false') %> Set default
    </label>
  </div>

  <hr>

  <div class="form-group">
    <%= form.submit submit_caption, class: 'btn btn-default', data: { disable_with: "Processing..." } %>
    <%= link_to 'Cancel', accounts_path, class: 'btn btn-default' %>
  </div>
<% end %>

<script>
  $(function() {
    "use strict";

    $(".account-form .currency-select").select2({
      theme: "bootstrap",
      allowClear: false
    });


    $(".currency-switch").click(function() {
      $(".currency-select").val($(this).data("value")).trigger("change")
    });

    $(".created-at-datepicker").datetimepicker({
      format: "<%= Const::DATEPICKER_FORMAT_MOMENTJS %>"
    });
  });
</script>
