<% if @accounts.any? %>
  <h2>You have <%= pluralize @accounts.count, 'account' %></h2>

  <table class="table table-bordered table-hover">
    <% @accounts.each do |account| %>
      <tr>
        <td class="col-lg-2">
          <%= account.title %>
          <% if account.default %>
            <span class="label label-info">Default</span>
          <% end %>
        </td>
        <td class="col-lg-2">
          <%= account.currency %>
        </td>
        <td class="col-lg-2 text-right">
          <%= account.total.format(symbol: false, no_cents: true) %>
        </td>
        <td class="col-lg-6">
          <span class="text-muted"><%= account.memo %></span>
          <div class="table-row-actions">
            <% unless account.default %>
              <%= link_to 'Default', account_default_path(account), method: :patch, class: 'btn btn-xs btn-default' %>
            <% end %>
            <%= link_to 'Rec', new_reconciliation_path(account_id: account.id), class: 'btn btn-xs btn-default' %>
            <%= link_to 'Edit', edit_account_path(account), class: 'btn btn-xs btn-default' %>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <h2>You have no account yet</h2>
<% end %>

<%= link_to 'Create new account', new_account_path, class: 'btn btn-default' %>

<% if @totals_per_currency.any? %>
  <h2>Grand total per currency</h2>

  <table class="table table-bordered table-hover">
    <% @totals_per_currency.each do |currency, value| %>
      <tr>
        <td class="col-lg-2"><%= currency %></td>
        <td><%= value.format(symbol: false, no_cents: true) %></td>
      </tr>
    <% end %>
  </table>

  <h2>Total converted equivalent</h2>

  <table class="table table-bordered table-hover">
    <% @converted_equivalent.each do |currency, value| %>
      <tr>
        <td class="col-lg-2"><%= currency %></td>
        <td><%= value.format(symbol: false, no_cents: true) %></td>
      </tr>
    <% end %>
  </table>
<% end %>
