<% if @accounts.any? %>
  <div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Accounts</h3></div>
    <table class="table table-hover">
      <% @accounts.each do |account| %>
        <tr>
          <td class="col-lg-5">
            <%= link_to account.title, edit_account_path(account) %>

            <% if account.default %>
              <span class="text-mured">(Default)</span>
            <% end %>

            <% unless account.memo.empty? %>
              <span class="text-muted"><%= account.memo %></span>
            <% end %>
          </td>
          <td class="col-lg-6 text-right">
            <%= link_to account.display_total, new_reconciliation_path(account_id: account.id) %>
            <%= account.currency_label %>
          </td>
        </tr>
      <% end %>
    </table>
    <div class="panel-footer text-muted">You have <%= pluralize @accounts.count, 'account' %></div>
  </div>
<% else %>
  <h2>You have no account yet</h2>
<% end %>

<div class="margin-bl">
  <%= link_to 'Create new account', new_account_path, class: 'btn btn-default' %>
</div>

<% if @totals_per_currency.any? %>
  <div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Grand total per currency</h3></div>
    <table class="table table-hover">
      <% @totals_per_currency.each do |currency, value| %>
        <tr>
          <td class="col-lg-2"><%= currency_label(currency) %></td>
          <td class="text-right"><%= value.format(symbol: false, no_cents: true) %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
