<h2>Accounts</h2>

<% if Account.any? %>
  <table class="table table-bordered table-hover">
    <% Account.ordered.each do |account| %>
      <tr>
        <td class="col-lg-6">
          <%= account.title %> (<%= account.currency %>)
          <span class="text-muted"><%= account.description %></span>
          <% if account.default %>
            <span class="label label-info">Default</span>
          <% end %>
          </td>
        <td class="col-lg-6">
          <div class="table-row-actions">
            <%= link_to 'Default', account_default_path(account), method: :patch, class: 'btn btn-xs btn-default' %>
            <%= link_to 'Edit', edit_account_path(account), class: 'btn btn-xs btn-default' %>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>There are no accounts yet.</p>
<% end %>

<%= link_to 'Create new account', new_account_path, class: 'btn btn-default' %>
