<% if @accounts.any? %>
  <h2>You have <%= pluralize @accounts.count, 'account' %></h2>

  <table class="table table-bordered table-hover no-grid">
    <% @accounts.each do |account| %>
      <tr>
        <td class="col-lg-5">
          <%= link_to account.title, edit_account_path(account) %>

          <% if account.default %>
            <span class="text-mured">(Default)</span>
          <% end %>

          <% unless account.memo.empty? %>
            <span class="text-muted"><%= account.memo %></span>
          <% end %>
        </td>
        <td class="col-lg-6 text-right">
          <%= link_to account.display_total, new_reconciliation_path(account_id: account.id) %>
          <%= account.currency_label %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <h2>You have no account yet</h2>
<% end %>

<%= link_to 'Create new account', new_account_path, class: 'btn btn-default' %>

<% if @totals_per_currency.any? %>
  <h2>Grand total per currency</h2>

  <table class="table table-bordered table-hover no-grid">
    <% @totals_per_currency.each do |currency, value| %>
      <tr>
        <td class="col-lg-2"><%= currency_label(currency) %></td>
        <td class="text-right"><%= value.format(symbol: false, no_cents: true) %></td>
      </tr>
    <% end %>
  </table>
<% end %>
