<%= render partial: 'partials/pagination', locals: { base_path: :operations_path } %>
<%= render partial: 'partials/budget_tabs' %>

<% if @ops.records.any? %>
  <table class="table table-bordered no-grid table-hover clickable-rows hide-overlapping ops-table">
    <tr class="table-top">
      <th colspan="<%= OperationPresenter::COLUMNS.count %>" class="table-head text-muted">
        <%= presenter(@ops).info %>
      </th>
    </tr>
    <% @ops.records.each do |r| %>
      <%= presenter(r).row %>
    <% end %>
  </table>
<% else %>
  <div class="emptyness">
    No operations for this period.
  </div>
<% end %>
